<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="/PSP/templates/style.css">
    </head>
    <body>
        <header>
            <h1><a href="/PSP">Интерактивный перевод единиц измерения</a></h1>
        </header>
        <main>
        
        <aside>
            <ul>
                <h3>Базовые:</h3>
                <li><a href='/PSP/length'>Длина, расстояние</a></li>
                <li><a href='/PSP/square'>Площадь</a></li>
                <li><a href='/PSP/volume'>Объем</a></li>
                <li><a href='/PSP/weight'>Масса, вес</a></li>
                <li><a href='/PSP/density'>Плотность</a></li>
                <li><a href='/PSP/temperature'>Температура</a></li>
            </ul>
            <ul>
                <h3>Физика:</h3>
                <li><a href='/PSP/pressure'>Давление</a></li>
                <li><a href='/PSP/time'>Время</a></li>
                <li><a href='/PSP/velocity'>Скорость</a></li>
                <li><a href='/PSP/acceleration'>Ускорение</a></li>
                <li><a href='/PSP/energy'>Энергия, работа</a></li>
                <li><a href='/PSP/power'>Мощность</a></li>
                <li><a href='/PSP/moment_power'>Крутящий момент, <br>момент силы</a></li>
            </ul>
            <ul>
                <h3>Излучение:</h3>
                <li><a href='/PSP/illumination'>Освещенность</a></li>
                <li><a href='/PSP/radioactivity'>Радиоактивность</a></li>
                <li><a href='/PSP/absorbed_dose'>Радиация,<br>поглощенная доза</a></li>
            </ul>
            <ul>
                <h3>Математика и информатика</h3>
                <li><a href='/PSP/angle'>Угол</a></li>
                <li><a href='/PSP/data_volume'>Объем данных</a></li>
                <li><a href='/PSP/data_exchange_rate'>Скорость обмена данными</a></li>
                <li><a href='/PSP/system_international'>Приставки СИ</a></li>
            </ul>
            
        </aside>
        <article>